#main-title
  font-weight 300

// navbar name container
.home-link
  border-radius: 3px;
  padding: 2px;
  // &:hover
  //   box-shadow 0 5px 20px rgba(0, 0, 0, 0.03), 0 6px 6px rgba(0, 0, 0, 0.05)

  // navbar name
  .site-name.can-hide
    font-weight 300
    position relative

// navbar shadow
.navbar
  box-shadow 0 5px 20px rgba(0, 0, 0, 0.03), 0 6px 6px rgba(0, 0, 0, 0.05)
  transition all 1s cubic-bezier(0.25, 0.8, 0.25, 1)
  &:hover
    box-shadow 0 5px 20px rgba(0, 0, 0, 0.08), 0 6px 6px rgba(0, 0, 0, 0.1)

.search-box
  order: 1;
  margin-left: 1rem;

  .suggestions
    left: auto !important;
    right: 0 !important;

h1,h2,h3,h4
  // margin: 30px 0px 30px 0px;
  font-weight: 350;

// @import url('https://fonts.googleapis.com/css?family=Open+Sans')
// @font-face
//   font-family 'Open Sans'
//   font-weight normal
//   font-weight 400
//   font-style normal

:root
  --cardBgColor $cardBgColor
  @media (prefers-color-scheme dark)
    --cardBgColor $cardBgDarkColor

    img
      opacity: .75;
      transition: opacity .3s ease-in-out;
      &:hover
        opacity: 1;

    .post
      background-color: darken($grey, 25%)

  // .home
  //  .features, .footer
  //     border-top: 1px solid #373b41;
  // .navbar, .navbar .links
  //   background-color: #1d1f21;
