<template>
    <div class="box">
        <h2 class="message">
            {{message}}
        </h2>
        <!-- <span id="wall">
             I am currently studying computer science. I have experience developing and designing software for android and the web,
             from simple landing pages to PWAs. I strive to create software that not only functions efficiently under the hood,
             but also provides intuitive, pixel-perfect user experiences.
             <br /><br />
             I enjoy learning new and better ways to create seamless user experiences with clean, efficient, and scalable code.
             I consider work an ongoing education, and I'm always looking for opportunities to work with those who are willing to
             share their knowledge as much as I want to learn. At the end of the day, my primary goal is to create something visually
             pleasing with people that bring out the best in me.
             </span> -->
    </div>
</template>

<script>
export default {
  data() {
    return {
      message: 'About me'
    }
  },
}
</script>

<style scoped lang="stylus">
 #wall
   font-weight: 400;
</style>
