<template>
    <div>
        <h2>Latest Posts</h2>
        <div class="grid-container">
            <div class="posts" v-if="posts.length">
                <div class="post" v-for="post in posts">
                    <router-link :to="post.path">
                        <span>{{post.frontmatter.title}}</span>
                        <div>
                            <img class="photo" v-if="post.frontmatter.image" :src="$withBase(post.frontmatter.image)" :alt="post.frontmatter.image">
                        </div>
                    </router-link>
                    <sub>{{post.frontmatter.description}}</sub>
                    <div class="tags">
                        <router-link
                          v-for="tag in post.frontmatter.tags"
                          :to="{ path: `/tags/#${tag}`}" >
                            <div class="tag"> {{tag}} </div>
                        </router-link>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
  computed: {
    posts() {
      let currentPage = this.page ? this.page : this.$page.path;
      return this.$site.pages
        .filter(p => {
          return p.path.match(new RegExp(`(${currentPage})(?=.*html)`));
        })
        .sort((a, b) => {
          return new Date(b.frontmatter.date) - new Date(a.frontmatter.date);
        });
    }
  }
}
</script>

<style lang="scss">
 .grid-container {
     /* display: flex;
        justify-content: center;
        flex-direction: column; */
 }

 .post {
     display: flex;
     justify-content: center;
     flex-direction: column;

     height: 100px;
     margin-bottom: 20px;
     padding: 10px;
     border-radius: 7px;
     /* border-left: solid 5px #2962ff66;
        border-right: solid 5px #2962ff66; */
     background-color: var(--cardBgColor)
 }

 .tag {
     display: inline-block;
     padding: 5px;
     margin: 25px 5px 0px 0px;
     border-radius: 12px;
     font-size: small;
     background-color: #2962ff;
     color: white;
 }

 .photo {
     height: auto;
     width: auto;
     max-width: 30px;
     max-height: 50px;
     float: right;
 }

 /**
  * Computes a top-shadow for a card effect.
  *
  * @param {Number} $depth - depth level
  *
  * @return {List}
  */
 @function top-shadow($depth) {
     $primary-offset: nth(1.5 3 10 14 19, $depth) * 1px;
     $blur: nth(1.5 3 10 14 19, $depth) * 4px;
     $color: rgba(black, nth(.12 .16 .19 .25 .30, $depth));

     @return 0 $primary-offset $blur $color;
 }

 /**
  * Computes a bottom-shadow for a card effect.
  *
  * @param {Number} $depth - depth level
  *
  * @return {List}
  */
 @function bottom-shadow($depth) {
     $primary-offset: nth(1.5 3 6 10 15, $depth) * 1px;
     $blur: nth(1 3 3 5 6, $depth) * 4px;
     $color: rgba(black, nth(.24 .23 .23 .22 .22, $depth));

     @return 0 $primary-offset $blur $color;
 }

 /**
  * Gives a card depth effect.
  *
  * @param {Number} $depth - depth level (between 1 and 5)
  *
  * @link https://www.google.com/design/spec/layout/layout-principles.html#layout-principles-dimensionality Google Design
  *
  * @requires {function} top-shadow
  * @requires {function} bottom-shadow
  */
 @mixin card($depth) {
     @if $depth < 1 {
         box-shadow: none;
     } @else if $depth > 5 {
         @warn "Invalid $depth `#{$depth}` for mixin `card`.";
     } @else {
         box-shadow: bottom-shadow($depth), top-shadow($depth);
     }
 }

 .post {
     @include card(2);
 }
</style>

